.blogs{
    margin-bottom: 70px;
}
.blog-summary{
    background-color: rgb(186, 186, 186);
    margin-top:70px;;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.blog-summary p{
    padding: 10px;
    font-size: 17px;

}