.services-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    justify-content: center;
    justify-items: center;
    margin: 30px;
    box-shadow: violet;
    width: auto;
    margin-top:50px;
  }
  
  /* .book {
    width: 400px;
    height: auto;
    border: 1px solid #9ac9e6;
    border-radius: 8px;
  } */
  
  @media screen and (max-width: 600px) {
    .services-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      width: auto;
    }
    .header{
      width: auto;
  }
  }
