.banner-container{
    display: grid;
    grid-template-columns:4fr 1fr;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
    margin-top: 100px;
}

.banner-container h1{
    font-size: 50px;
    color: tomato;
}

.banner-container p{
    font-size: 25px;
}